<form class="register__form" [formGroup]="formReg" (ngSubmit)="onSubmit()">
    <h2 class="register__title">Registro de usuario</h2>

    <div class="register__form-group">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput [class.is-isInvalid]="isInvalidName" class="register__input" type="text" id="name"
                formControlName="name">
        </mat-form-field>
        <small *ngIf="isInvalidName" class="register__error">El nombre no es válido</small>
    </div>

    <div class="register__form-group">
        <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput [class.is-isInvalid]="isInvalidLastName" class="register__input" type="text" id="lastName"
                formControlName="lastName">
        </mat-form-field>
        <small *ngIf="isInvalidLastName" class="register__error">El apellido no es válido</small>
    </div>

    <div class="register__form-group">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [class.is-isInvalid]="isInvalidEmail" class="register__input" type="email" id="email"
                formControlName="email">
        </mat-form-field>
        <small *ngIf="isInvalidEmail" class="register__error">El email no es válido</small>
    </div>

        <div class="register__form-group">
            <mat-form-field>
                <mat-label>DNI</mat-label>
                <input matInput [class.is-isInvalid]="isInvalidDni" class="register__input" type="number" id="dni"
                    formControlName="dni">
            </mat-form-field>
            <small *ngIf="isInvalidDni" class="register__error">El DNI no es válido</small>
        </div>

        <div class="register__form-group">
            <mat-form-field>
                <mat-label>Telefono</mat-label>
                <input matInput [class.is-isInvalid]="isInvalidPhone" class="register__input" type="number" id="phone"
                    formControlName="phone">
            </mat-form-field>
            <small *ngIf="isInvalidPhone" class="register__error">El teléfono no es válido</small>
        </div>

        <div class="register__form-group">
            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input matInput [class.is-isInvalid]="isInvalidPassword" class="register__input" type="password"
                    formControlName="password" id="password" formControlName="password">
            </mat-form-field>
            <small *ngIf="isInvalidPassword" class="register__error">La contraseña debe tener al menos 6
                caracteres</small>
        </div>

        <div class="register__form-group">
            <mat-form-field>
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput [class.is-isInvalid]="isInvalidConfirmPassword" class="register__input" type="password"
                    formControlName="confirmPassword" id="confirmPassword" formControlName="confirmPassword">
            </mat-form-field>
            <small *ngIf="isInvalidConfirmPassword" class="register__error">Las contraseñas no coinciden</small>
        </div>

        <div class="register__form-group">
            <a class="register__link" routerLink="/login">¿Ya tienes una cuenta?</a>
        </div>

        <button class="register__button" type="submit">Registrarme</button>
</form>