.footer {
    width: 100%;
    background-color: #333333;
    padding: 20px;
    margin-top: 100px;

    &__content {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__text {
        font-size: 14px;
        color: #fff;
        margin: 0;
    }
}