@import '/src/variables.scss';

.footer {
    background-color: $primary-color;
    padding: 20px;

    &__logo {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    &__title {
        font-family: 'Codec Cold Codec Cold ExtraBold', sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        color: #fff;
        font-size: 20px;
        margin-top: 20px;
    }

    &__title-container {
        text-align: center;
        margin-top: 20px;
        display: flex;
    }

    &__copy {
        text-align: center;
        margin-top: 20px;
        color: #999999;
    }
}