@import '/src/variables.scss';

.navbar {
    background-color: $primary-color;
    padding: 10px;
    position: relative;

    &-nav {
        display: flex;
        list-style-type: none;
        padding: 0;
    }
}

.nav-item {
    margin-right: 10px;
    display: flex;
    align-items: center;

    &--right {
        margin-left: auto;
        display: flex;
    }

    &__title {
        display: contents;
        color: #fff;
        padding: 0;
        font-family: 'Codec Cold Codec Cold ExtraBold', sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
    }

    &__button {
        background-color: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 700;
        margin-left: 10px;
        outline: none;
        transition: color 0.3s;

        &:hover {
            color: $secondary-color;
        }
    }

    &__logo {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    &__link {
        color: #fff;
        text-decoration: none;
        padding: 5px;
        transition: color 0.3s;

        &:hover {
            color: $secondary-color-hover;
        }

        &.active {
            font-weight: bold;
            color: $secondary-color;
        }
    }
}

.mat-icon {
    font-size: 24px;
    cursor: pointer;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}