<div class="products-container">
    <div *ngFor="let product of products   | paginate: { itemsPerPage: 10, currentPage: page }" class="product">
        <img height="100" width="150" [ngSrc]="product.imagen" alt="{{ product.nombre }}" class="product__image">
        <h3 class="product__name">{{ product.nombre }}</h3>
        <p class="product__description">{{ product.subcategoria }}</p>
        <p class="product__price">{{ product.precio | currency }}</p>
        <button class="product__button" (click)="addToCart(product)">
            Agregar
        </button>
    </div>
</div>

<div class="pagination-container">
    <pagination-controls (pageChange)="page = $event" previousLabel="Previous"></pagination-controls>
</div>