@import '/src/variables.scss';

.main-container {
    margin: 6em 8em;

    &__title {
        font-family: 'Codec Cold Codec Cold ExtraBold', sans-serif;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 900;
        color: $primary-color;
        margin: 0 0 1em 0;
    }
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    transition: all 0.3s ease-in-out;
    gap: 1em;

    &:hover {
        box-shadow: 0 0 10px #ccc;
    }
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    transition: all 0.3s ease-in-out;
    width: calc(20% - 50px); 

    &:hover {
        box-shadow: 0 0 10px #ccc;
    }

    &__button {
        margin-top: auto;
        background-color: #fff;
        color: #000;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    &__image-container {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}