@font-face {
    font-family: 'Codec Cold Trial Light';
    src: url('assets/fonts/Codec-Warm-Light-trial.ttf') format('truetype');
}

@font-face {
    font-family: 'Codec Cold ExtraBold';
    src: url('assets/fonts/Codec-Cold-ExtraBold-trial.ttf') format('truetype');
}

@font-face {
    font-family: 'Codec Cold Trial Regular';
    src: url('assets/fonts/Codec-Warm-Regular-trial.ttf') format('truetype');
}

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: 'Codec Cold Trial Regular';
    padding: 0;
    box-sizing: border-box;
}